.ddmenu {
    position: relative;
    min-width: calc(100 / 16 * 1rem);

    user-select: none;

    [data-ddmenu-link] {
        cursor: pointer;

        > * {
            pointer-events: none;
        }
    }

    &.open {
        > .ddmenu__content {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
        // > .ddmenu-header {
        //     .ddmenu-header__link {
        //         transform: rotate(180deg);
        //     }
        // }
    }

    &.ddmenu_1 {
        > .ddmenu__content {
            top: 100%;
            left: 0;
            background: rgb(238, 238, 238);
        }
    }

    &.ddmenu_2 {
        > .ddmenu__content {
            top: 0;
            left: 100%;
            background: rgb(140, 255, 86);
        }
    }

    &.ddmenu_3 {
        > .ddmenu__content {
            top: 50%;
            left: 100%;

            background: rgb(37, 131, 255);

            transform: translate(0px, -50%);
        }
    }

    // .ddmenu__header
    &__header {
        background: rgb(214, 214, 214);
        height: calc(30 / 16 * 1rem);
        padding: calc(5 / 16 * 1rem) calc(10 / 16 * 1rem);

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .ddmenu__content
    &__content {
        position: absolute;
        z-index: 10;
        width: 100%;

        transition: all 0.2s ease;

        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    // .ddmenu__item
    &__item {
    }
    // .ddmenu__item-link
    &__item-link {
        display: block;
        padding: calc(5 / 16 * 1rem) calc(10 / 16 * 1rem);

        @media (any-hover: hover) {
            &:hover {
                background: rgb(189, 189, 189);
            }
        }
    }
}
.ddmenu-header {
    padding: 0 0 0 calc(10 / 16 * 1rem);
    // .ddmenu-header__text
    &__text {
    }
    // .ddmenu-header__link
    &__link {
        display: inline-block;
        width: calc(30 / 16 * 1rem);
        height: calc(30 / 16 * 1rem);

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.2s ease;

        span {
            top: 50%;
            left: 50%;
            width: calc(5 / 16 * 1rem);
            height: calc(5 / 16 * 1rem);

            border-left: 1px solid #000;
            border-bottom: 1px solid #000;

            transform: translate(0, -25%) rotate(-45deg);
        }
    }
}
