.popup {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;

    transition: all 0.4s ease;

    &.open {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        user-select: auto;
        z-index: 100;
    }

    // .popup__body
    &__body {
        border-radius: calc(30 / 16 * 1rem);
        background: #fff;
        padding: calc(30 / 16 * 1rem);
        max-width: 40%;
    }
}
