$scrollBarColor: #8b8b8b;
$scrollBarBgColor: #c9c9c9;
$scrollBarBorderColor: #6b6b6b;

* {
    scrollbar-width: thin;
    scrollbar-color: $scrollBarColor $scrollBarBgColor;
}

*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: $scrollBarBgColor;
}
*::-webkit-scrollbar-thumb {
    background-color: $scrollBarColor;
    border-radius: 5px;
    border: 0px solid $scrollBarBorderColor;
}
