/*------------------------------------------------------------btn------------------------------------------------------------*/

/*------------------------------------------------------------text------------------------------------------------------------*/

/*------------------------------------------------------------link------------------------------------------------------------*/

/*------------------------------------------------------------main------------------------------------------------------------*/

.wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;

    &.lock {
        overflow: hidden;
    }
}

.main {
    flex: 1 1 auto;
}

.main {
    &__container {
        width: 100%;
        height: 100vh;
    }
}
