/*------------------------------------------------------------vars------------------------------------------------------------*/

/*------------------------------------------------------------setting------------------------------------------------------------*/
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: inherit;
}

body {
    font-size: calc(16 / 16 * 1rem);
    color: #000;
}

/*------------------------------------------------------------local classes------------------------------------------------------------*/

.container {
    max-width: calc(1000 / 16 * 1rem);
    padding: 0 calc(15 / 16 * 1rem);
    margin: 0 auto;
}

// .animation {
//     opacity: 0;
// }
